ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__Default=Host=localhost;Port=5432;Database=beatdash;Username=admin;Password=admin
AdminUser__Email=admin@beatdash.local
AdminUser__Password=admin
AdminUser__Role=Admin

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin_pw
MINIO_USE_SSL=false
MINIO_BUCKET_ASSETS=beatdash-assets
MINIO_BUCKET_USER_DATA=beatdash-user-data
