# --- Global ---
ASPNETCORE_ENVIRONMENT=Development

# --- BeatDash ---
BEATDASH_POSTGRES_USER=admin
BEATDASH_POSTGRES_PASSWORD=admin
BEATDASH_POSTGRES_DB=beatdash
BEATDASH_POSTGRES_PORT=5432
BEATDASH_ConnectionStrings__Default=Host=localhost;Port=5432;Database=beatdash;Username=admin;Password=admin
